*.a
*.la
*~
.deps
/libstrophe.pc
.dirstamp
.libs/
.sconsign*
/config.guess
/config.sub
/libtool
/ltmain.sh
/m4
Makefile
Makefile.in
TAGS
aclocal.m4
autom4te.cache
config.log
config.status
configure
depcomp
docs/html
examples/*.lo
examples/*.o
examples/active
examples/basic
examples/bot
examples/roster
install-sh
missing
src/*.lo
src/*.o
test_stamp
tests/*.lo
tests/*.lo
tests/*.o
tests/*.o
tests/check_ctx
tests/check_parser
tests/check_stanza
tests/test_base64
tests/test_ctx
tests/test_hash
tests/test_jid
tests/test_sasl
tests/test_sock
.buildbot
